.loginCard {
  display: flex;
  flex-direction: column;
  background-color: #f1e0e0;
  max-width: 15rem;
  border: 1px solid black;
  margin: 30vh auto 0 auto;
  padding: 8vh 2% 8vh 2%;
  gap: 1vh;
}
.loginCard label {
  text-align: left;
  width: 100% s;
}
.loginCard label legend {
  margin-bottom: 1vh;
  font-size: 0.8rem;
}
.loginCard label input {
  margin-bottom: 3vh;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  border: 0.1px solid black;
}
.loginCard .loginBtn {
  background-color: 0;
}/*# sourceMappingURL=LogInCard.css.map */